@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    

 }
 body {
     background-image: linear-gradient(to left,#EFF0EB,#B9E6E1) ;
 }

 main{
     background-color: white;
     border-radius: 10px;
     box-shadow: 5px 5px 15px #ec90a4;
     width: 600px;
     padding: 10px;
     margin: auto;
 }
 h1{
    color:#7E1D32 ;
    text-align:center; 
    text-shadow: 1px 1px 2px #d32a4f ;
 }
 h2{
     color: #FF3E81 ;
 }
 p{
     text-align: justify;
 }